/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../sass/header.sass */
header {
  text-align: center;
  background: url(/img/h.png) no-repeat;
  width: 300px;
  margin: auto;
  padding: 50px 0 10px;
}
/* line 10, ../../sass/header.sass */
header h1, header h2 {
  margin: 0;
  text-indent: 50px;
}
/* line 13, ../../sass/header.sass */
header h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 17, ../../sass/header.sass */
header h1:first-letter {
  font-size: 0em;
}
/* line 19, ../../sass/header.sass */
header h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.2em;
}

/* line 24, ../../sass/header.sass */
nav {
  margin: 20px 0 0;
  border-top: 1px solid white;
  border-bottom: 1px solid #555555;
  background: url(/img/grey_wash_wall.png);
}
/* line 29, ../../sass/header.sass */
nav ul {
  padding: 5px 0;
  text-align: center;
}
/* line 32, ../../sass/header.sass */
nav ul li {
  display: inline-block;
  border-right: 1px solid white;
  padding-right: 7px;
}
/* line 36, ../../sass/header.sass */
nav ul li:last-child {
  border: none;
}

/* line 3, ../../sass/content.sass */
body {
  font-family: monospace;
  text-align: center;
  height: 100%;
  font-size: 15px;
  color: white;
  background: url(/img/dark_wall.png);
}

/* line 11, ../../sass/content.sass */
#wrapper {
  text-align: left;
  margin: 20px 0 20px;
}
/* line 15, ../../sass/content.sass */
#wrapper #content {
  background: white;
  padding: 10px 0 10px;
  color: black;
  text-align: center;
}
/* line 21, ../../sass/content.sass */
#wrapper #content #content-wrapper {
  display: inline-block;
  text-align: left;
  padding: 0 5px;
}
/* line 25, ../../sass/content.sass */
#wrapper #content #content-wrapper ul {
  margin-bottom: 10px;
}
/* line 28, ../../sass/content.sass */
#wrapper #content #content-wrapper a, #wrapper #content #content-wrapper a:visited, #wrapper #content #content-wrapper a:focus {
  color: black;
}
/* line 31, ../../sass/content.sass */
#wrapper .comptes, #wrapper .realisations {
  text-align: center;
}
/* line 33, ../../sass/content.sass */
#wrapper .comptes li, #wrapper .realisations li {
  display: inline-block;
  vertical-align: top;
}
/* line 36, ../../sass/content.sass */
#wrapper .comptes li a, #wrapper .realisations li a {
  display: block;
}
/* line 38, ../../sass/content.sass */
#wrapper .comptes li a p, #wrapper .realisations li a p {
  word-break: break-all;
}
@media not handheld {
  /* line 38, ../../sass/content.sass */
  #wrapper .comptes li a p, #wrapper .realisations li a p {
    visibility: hidden;
  }
}
@media not handheld {
  /* line 43, ../../sass/content.sass */
  #wrapper .comptes li a:hover p, #wrapper .realisations li a:hover p {
    visibility: visible;
  }
}
/* line 47, ../../sass/content.sass */
#wrapper .comptes li {
  width: 110px;
  height: 100px;
}
/* line 52, ../../sass/content.sass */
#wrapper .realisations li {
  padding: 0 5px;
}
/* line 55, ../../sass/content.sass */
#wrapper footer {
  border-top: 1px solid white;
  padding-top: 20px;
}

/* line 59, ../../sass/content.sass */
a, a:visited, a:focus {
  text-decoration: none;
  color: white;
  outline: none;
}

/* line 64, ../../sass/content.sass */
a:hover {
  text-decoration: underline;
}

/* line 67, ../../sass/content.sass */
h3 {
  font-weight: bold;
  margin: 10px 0;
  border-bottom: 1px black solid;
}
