/* line 3, ../../sass/content.sass */
body {
  font-family: monospace;
  text-align: center;
  height: 100%;
  font-size: 15px;
  color: white;
  background: url(/img/dark_wall.png);
}

/* line 11, ../../sass/content.sass */
#wrapper {
  text-align: left;
  margin: 20px 0 20px;
}
/* line 15, ../../sass/content.sass */
#wrapper #content {
  background: white;
  padding: 10px 0 10px;
  color: black;
  text-align: center;
}
/* line 21, ../../sass/content.sass */
#wrapper #content #content-wrapper {
  display: inline-block;
  text-align: left;
  padding: 0 5px;
}
/* line 25, ../../sass/content.sass */
#wrapper #content #content-wrapper ul {
  margin-bottom: 10px;
}
/* line 28, ../../sass/content.sass */
#wrapper #content #content-wrapper a, #wrapper #content #content-wrapper a:visited, #wrapper #content #content-wrapper a:focus {
  color: black;
}
/* line 31, ../../sass/content.sass */
#wrapper .comptes, #wrapper .realisations {
  text-align: center;
}
/* line 33, ../../sass/content.sass */
#wrapper .comptes li, #wrapper .realisations li {
  display: inline-block;
  vertical-align: top;
}
/* line 36, ../../sass/content.sass */
#wrapper .comptes li a, #wrapper .realisations li a {
  display: block;
}
/* line 38, ../../sass/content.sass */
#wrapper .comptes li a p, #wrapper .realisations li a p {
  word-break: break-all;
}
@media not handheld {
  /* line 38, ../../sass/content.sass */
  #wrapper .comptes li a p, #wrapper .realisations li a p {
    visibility: hidden;
  }
}
@media not handheld {
  /* line 43, ../../sass/content.sass */
  #wrapper .comptes li a:hover p, #wrapper .realisations li a:hover p {
    visibility: visible;
  }
}
/* line 47, ../../sass/content.sass */
#wrapper .comptes li {
  width: 110px;
  height: 100px;
}
/* line 52, ../../sass/content.sass */
#wrapper .realisations li {
  padding: 0 5px;
}
/* line 55, ../../sass/content.sass */
#wrapper footer {
  border-top: 1px solid white;
  padding-top: 20px;
}

/* line 59, ../../sass/content.sass */
a, a:visited, a:focus {
  text-decoration: none;
  color: white;
  outline: none;
}

/* line 64, ../../sass/content.sass */
a:hover {
  text-decoration: underline;
}

/* line 67, ../../sass/content.sass */
h3 {
  font-weight: bold;
  margin: 10px 0;
  border-bottom: 1px black solid;
}
