{% extends _layout %}
{% block content %}
<ul>
	<li><a href="http://www.linkedin.com/pub/hadrien-mens-pellen/31/712/390">Mon profil LinkedIn</a></li>
	<li><a href="https://github.com/HadrienMP">Mon compte Github</a></li>
</ul>
{% endblock %}