{% extends _layout %}
{% block content %}
<h3>Web</h3>
<ul class="realisations">
	<li>
		<a href="http://time-manager.hadrienmp.com">
			<img src="/img/punch-clock.png" alt="Punch clock" />
			<p>Punch clock<p>
		</a>
	</li>
	<li>
		<a href="http://puncher.hadrienmp.com">
			<img src="/img/punch-clock-js.png" alt="Punch clock" />
			<p>Punch clock (JS)<p>
		</a>
	</li>
	<li>
		<a href="http://www.iriscorporation.biz">
			<img src="/img/iris.png" alt="Iris" />
			<p>Iris Corporation<p>
		</a>
	</li>
	<li>
		<a href="http://perso.enstimac.fr/~vivien/vinswefe/accueil.html">
			<img src="/img/vins-wefe.png" alt="Vins Wefe" />
			<p>Vins Wefe<p>
		</a>
	</li>
</ul>
<h3>iPhone</h3>
<ul class="realisations">
	<li>
		<a href="http://www.turf-methode.com/LespronosticssurvotreIphoneAPPLE.html">
			<img src="/img/turf-methode.png" alt="Turf-methode" />
			<p>Turf methode<p>
		</a>
	</li>
	<li>
		<a href="#">
			<img src="/img/cg92.png" alt="Promenades 92" />
			<p>Promenades 92<p>
		</a>
	</li>
</ul>
{% endblock %}