{% extends _layout %}
{% block content %}
<ul>
	<li><a href="http://time-manager.hadrienmp.com">Punch Clock</a></li>
	<li><a href="http://www.iriscorporation.biz">IRIS Corporation</a></li>
</ul>
{% endblock %}